/* cart modal */

.cart-icon{
    width: 1.6rem;
}

.cart-item-count{
    position: absolute;
    top: -0.85rem;
    right: -0.85rem;
    width: 1.60rem;
    height: 1.60rem;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    background: lightcoral;
    display: grid;
    place-items: center;
}

.cart-btn{
    position: relative;
    margin-top: 0.75rem;
    /* margin: 0.5rem; */
    background: none;
    border: none;
    cursor: pointer;
}

.cart-container:hover{
    scale: 1.1;
    transition: all .5s ease-in-out;
}

.cart-container{
    position: absolute;
    right: 1%;
    margin: 10px;
    /*  transfomr used to hide the menu by default */
    /* y- sobe desce, x- direito e esquerdo */
    /* menos e pra cima,estou subindo 100 */
    transform: translateX(-100%);
    transition: transform ease-in-out 0.3s;
    /* do I need to use z-index */
}



.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: #000c;
    right: 0;
    transform: translateX(100%);
    transition: transform ease-in-out 0.9s;

}

.show-cart{
    /* it is going to make my menu slide when I add show-cart class */
    transform: translateX(0);
}

.modal-content{
    background-color: #fff;
    width: 50vw;
    height: 80vh;
    z-index: 16;
    position: absolute;
    left: 25vw;
    top: 10vh;
    overflow-y: auto;
}

.close-btn{
    position: absolute;
    top: 10%;
    right: 25%;
    z-index: 20;
}

.close-btn svg{
    width: 2rem;
    height: 2rem;
}

ul{
    margin-top: 2.3rem;
}

li{ 
    list-style: none; 
    background-color: salmon; 
    border-radius: 10px; 
    margin: 1rem; 
    padding: 0.5rem 1rem; 
    color: white; 
    display: flex; 
    align-items: center; 
} 

.meal-name{
    flex: 2;
}

.meal-price{
    flex: 1;
}


.removeBtn{
    flex: 0.3;
    z-index: 20;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #ffff;
}

.removeBtn svg{
    width: 1.3rem;
    height: 1.3rem;
}

/* .increase-btn-icon{

}
.decrease-btn-icon{

} */

.increase-deacrese-btn-container{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}


.increase-btn{
    width: 1.10rem;
    height: 1.10rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.decrease-btn{
    width: 1.10rem;
    height: 1.10rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.total-container{
    display: flex;
    justify-content: center;
    border: 1px solid salmon;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 10px;
}
